@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pause {
      animation-play-state: paused;
    }

    .play {
      animation-play-state: running;
    }
 }
body {
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
}
